@media screen and (max-width:1400px) {}


@media screen and (max-width:1200px) {
    .home-page-category-cards {
        height: 320px;
    }

    .how-we-compare-cards {
        min-height: 265px;
    }
}

@media screen and (max-width:991px) {
    .banner-image {
        height: 500px;
    }

    .banner-text h1 {
        font-size: 60px;
    }

    .banner-text h3 {
        font-size: 30px;
        max-width: 600px;
    }

    .pages-intro-text-wrapper p {
        font-size: 15px;
    }

    .home-page-category-cards {
        height: 330px;
    }

    .how-we-compare-cards-wrapper>p {
        font-size: 15px;
    }

    .how-we-compare-content h4 {
        font-size: 23px;
    }

    .how-we-compare-content p {
        font-size: 15px;
    }

    .pages-newsletter-wrapper h3 {
        max-width: 655px;
    }

    input.pages-newsletter-input {
        width: 45%;
        padding: 12px 25px;
    }

    .pages-newsletter-submit-button {
        padding: 12px 25px;
    }

    .accordion-button {
        font-size: 15px;
    }

    .accordion-body {
        font-size: 15px;
    }

    .disclaimer-wrapper h3 {
        font-size: 28px;
    }

    .disclaimer-wrapper p {
        font-size: 15px;
    }

    .disclaimer-wrapper h4 {
        font-size: 19px;
    }

    /* Pages CSS Start */

    .cards-text ul li p {
        font-size: 15px;
        font-weight: 600;
    }

    .cards-img-text h3 {
        font-size: 21px;
        line-height: 1.5;
    }

    .cards-img-text {
        text-align: center;
    }

    .cards-image {
        height: 340px;
    }

    .butn.play-now-btn {
        padding: 12px 20px;
        font-size: 14px;
    }
    .blog-cards-btn {
        left: 0px;
       text-align: center;
       width: 100%;
   }

    /* Pages CSS End*/

}

@media screen and (max-width:767px) {
    .logo img {
        max-width: 280px;
    }


    .main-navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        padding: 50px;
        background-color: #000;
        transform: translateY(-100%);
        transition: all 0.3s linear;
        z-index: 100;
        color: #fff;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
    }

    .menuToggle .main-navbar {
        transform: translateY(0);
        justify-content: flex-start;
    }

    .main-navbar ul {
        flex-direction: column;

    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        display: block;
        color: #fff;
        text-align: end;
        z-index: 55;
    }

    .banner-image {
        height: 450px;
    }

    .banner-text h1 {
        font-size: 55px;
    }

    .banner-text h3 {
        font-size: 28px;
        max-width: 450px;
    }

    .home-page-category-cards {
        height: 320px;
    }

    .how-we-compare-icons img {
        height: 60px;
        width: 60px;
    }

    .how-we-compare-cards {
        min-height: 305px;
    }

    .pages-newsletter-wrapper h3 {
        max-width: 510px;
    }

    input.pages-newsletter-input {
        width: 45%;
        font-size: 15px;
        padding: 11px 25px;
    }

    .pages-newsletter-submit-button {
        padding: 11px 25px;
        font-size: 15px;
    }

    .accordion-button {
        font-size: 14px;
    }

    .accordion-body {
        font-size: 14px;
    }

    .disclaimer-wrapper h3 {
        font-size: 26px;
    }

    .footer-items h3 {
        font-size: 23px;
    }

    .disclaimer-wrapper h4 {
        font-size: 18px;
    }


    /* Pages CSS Start */

    .cards-text ul li p {
        font-size: 15px;
        font-weight: 600;
    }

    .cards-img-text h3 {
        font-size: 21px;
        line-height: 1.5;
    }

    .cards-img-text {
        text-align: center;
    }

    .cards-image {
        height: 290px;
    }

    .cards-pro-text,
    .cards-cons-text {
        padding: 15px 5px;
    }

    .butn.play-now-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .butn.play-now-btn {
        margin-top: 0;
    }
 
    /* Pages CSS End*/


}

@media screen and (min-width:575px) and (max-width:576px) {
    .cards-pro-text {
        border-right: none;
        border-bottom: 3px solid #cf2d5e;
    }

    .cards-cons-text,
    .cards-pro-text {
        padding: 15px 0;
    }
}


@media screen and (max-width:575px) {
    .logo img {
        max-width: 260px;
    }

    .banner-image {
        height: 370px;
    }

    .banner-text h1 {
        font-size: 45px;
    }

    .banner-text h3 {
        font-size: 25px;
        max-width: 400px;
    }

    .pages-intro-text-wrapper p {
        font-size: 14px;
    }

    .home-page-category-cards {
        height: 280px;
    }

    .how-we-compare-cards-wrapper>p {
        font-size: 14px;
    }

    .how-we-compare-icons img {
        height: 50px;
        width: 50px;
    }

    .how-we-compare-content h4 {
        font-size: 21px;
    }

    .how-we-compare-content p {
        font-size: 14px;
    }

    .how-we-compare-cards {
        min-height: 0;
    }

    .pages-newsletter-wrapper h3 {
        font-size: 23px;
        max-width: 450px;
        margin: 0 auto;
    }

    input.pages-newsletter-input {
        width: 80%;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 0px;
    }

    .pages-newsletter-submit-button {
        padding: 10px 40px;
        font-size: 14px;
        border-radius: 0px;
        margin-top: 10px;
    }

    .accordion-button {
        font-size: 13px;
    }

    .accordion-body {
        font-size: 13px;
    }

    .disclaimer-wrapper {
        padding: 0px 5px;
    }

    .disclaimer-wrapper h3 {
        font-size: 24px;
    }

    .disclaimer-wrapper p {
        font-size: 14px;
    }

    .footer-items {
        width: 50%;
    }

    .logo-bottom {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer .footer-items ul li a {
        font-size: 16px;
    }

    .footer-items h3 {
        font-size: 24px;
    }

    .copyright p {
        font-weight: 600;
        font-size: 14px;
    }

    .disclaimer-wrapper h4 {
        font-size: 17px;
    }



    /* Pages CSS Start */

    .cards-img-text h3 {
        font-size: 21px;
        line-height: 1.5;
    }

    .cards-image {
        height: 270px;
    }

    .cards-pro-text,
    .cards-cons-text {
        padding: 15px 5px;
    }

    .cards-text h3 {
        font-size: 21px;
    }

    .cards-pro-text {
        border-right: none;
        border-bottom: 3px solid #cf2d5e;
    }

    .cards-cons-text,
    .cards-pro-text {
        padding: 15px 0;
    }

    .butn.play-now-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .butn.play-now-btn {
        margin-top: 0;
    }

    .blog-pages-group p {
        font-size: 15px;
    }


    /* Pages CSS End*/

}

@media screen and (max-width:480px) {
    .logo img {
        max-width: 240px;
    }

    .banner-image {
        height: 300px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-text h3 {
        font-size: 18px;
        max-width: 300px;
    }

    .pages-intro-text-wrapper {
        padding: 0 10px;
    }

    .home-page-category-cards {
        height: 250px;
    }

    h2.section-heading {
        font-size: 26px;
    }

    .how-we-compare-icons img {
        height: 40px;
        width: 40px;
    }

    .how-we-compare-content h4 {
        font-size: 19px;
    }

    .pages-newsletter-wrapper {
        padding: 10px 0;
    }

    .pages-newsletter-wrapper h3 {
        font-size: 17px;
        padding: 0;
    }

    input.pages-newsletter-input {
        width: 90%;
        font-size: 14px;
    }

    .pages-newsletter-submit-button {
        padding: 10px 20px;
        font-size: 14px;
    }

    .footer-items {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer-items:last-child {
        margin-bottom: 0;
    }

    .footer-items h3 {
        text-align: center;
    }

    .copyright p {
        font-size: 13px;
    }

    .footer .footer-items ul li a {
        font-size: 15px;
    }

    .disclaimer-wrapper h4 {
        font-size: 16px;
    }

    /* Pages CSS Start */
    .cards-text ul li p {
        font-size: 14px;
    }

    .cards-img-text h3 {
        font-size: 16px;
        line-height: 1.5;
    }

    .cards-image {
        height: 230px;
    }

    .cards-text h3 {
        font-size: 19px;
    }

    .butn.play-now-btn {
        padding: 12px 20px;
        font-size: 14px;
    }

    .blog-pages-group p {
        font-size: 14px;
    }

    .pages-blog-cards {
        padding: 5px;
        height: 230px;
    }

    .blog-cards-title h5 {
        font-size: 18px;
    }

    .blog-btn {
        padding: 10px 20px;
        font-size: 14px;
    }
   

    /* Pages CSS End*/
}