@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 1.5;
}


p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.5;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

button,
input[type=text],
input[type=submit] {
    font-family: "Montserrat", sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

/* colors
#ca5cdd 
#280B70
*/

/* Global CSS End */

/*Header CSS Start */
.logo img {
    text-align: center;
    width: 100%;
    max-width: 300px;
    vertical-align: middle;
}

.site-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.main-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.main-navbar ul li a {
    padding: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: normal;
    font-weight: 600;
    position: relative;
    color:#cf2d5e
}

.main-navbar ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 2px #cf2d5e;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
}

.main-navbar ul li a:hover:after,
.main-navbar ul li a.active:after {
    width: 100%;
}

/* .main-navbar ul li a.active {
    color: #fff;
} */



.close-icon {
    display: none;
}

.menu-icon {
    display: none;
    color: #cf2d5e;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
}

/* Header CSS End */

/* Section Heading CSS Start */
h2.section-heading {
    font-size: 40px;
    line-height: 1.5;
    color: #19284f;
    color: #00b3c1;
    color: #cf2d5e;
}

/* Section Heading CSS End */

/* Banner Section CSS Start */
.banner {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.banner-image {
    height: 650px;
    width: 100%;
}

.banner-image img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 0 0/60%);
    background-blend-mode: multiply;
    overflow: hidden;
    text-align: center;
}

.banner-text h1 {
    font-size: 70px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
}

.banner-text h3 {
    font-size: 30px;
    color: #fff;
    display: block;
    font-weight: 600;
    text-transform: capitalize;
    margin: 15px auto;
}

/* Banner Section  CSS End */


/* Home Page Intro Text CSS Start */
.pages-intro-text-section {
    background-color: #19284f;
    background-color: #658cf6;
    background-color: #280B70;
}

.pages-intro-text-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 10px;
    overflow: hidden;
}


.pages-intro-text-wrapper p {
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

/* Home Page Intro Text CSS End */

/* Home Page Category Cards CSS Start */
.home-page-category-cards-wrapper .row {
    overflow: hidden;
}

.home-page-category-cards {
    height: 400px;
    position: relative;
    transition: 0.4s all ease-in-out;
}

.home-page-category-cards:hover {
    transform: translateY(-5px);
    box-shadow: #00b3c1 0px 7px 10px, #00b3c1 0px 7px 12px;
        box-shadow:    #cf2d5e 0px 7px 10px,    #cf2d5e 0px 7px 12px;
 
}

.home-page-category-cards-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.home-page-category-cards-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
}

.home-page-category-cards:hover .home-page-cards-image img {
    transform: scale(1.1);
}

.home-page-category-cards-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    background-color: rgba(0 0 0/50%);
    background-blend-mode: multiply;
    transition: 0.5s all ease-in-out;
}

.home-page-category-cards-content h3 {
    font-size: 30px;
}

.home-page-category-cards-content a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

/* Home Page Category Cards CSS End */

/* How We Compare CSS Start */
.how-we-compare-section {
    background-color: #cfc1f1;
}

.how-we-compare-cards {
    padding: 20px;
    background: #658cf6;
    background:#280B70;
    box-shadow: #fff 0px 6px 15px;
    background-image: linear-gradient(to left,
            transparent,
            transparent 50%,
            #fff 50%);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .3s ease-in;
    border-radius: 10px;
    overflow: hidden;
    min-height: 230px;
    border: 1px solid #658cf6;
}

.how-we-compare-cards:hover {
    background-position: 0 0;
    box-shadow: #00b3c1 0px 6px 15px;
    box-shadow: #cf2d5e 0px 6px 15px;
    transform: translateY(-1px);

}

.how-we-compare-cards:hover .how-we-compare-content h4 {
    color: #280B70;
}

.how-we-compare-cards:hover .how-we-compare-content p {
    color: #280B70;
}

.how-we-compare-cards-wrapper>p {
    color: #000;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 500;
}

.how-we-compare-icons img {
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.how-we-compare-icons img:nth-child(2) {
    display: none;
}

.how-we-compare-cards:hover .how-we-compare-icons img:nth-child(1) {
    display: none;
}

.how-we-compare-cards:hover .how-we-compare-icons img:nth-child(2) {
    display: block;
}

.how-we-compare-content h4 {
    color: #fff;
    padding: 20px 0;
}

.how-we-compare-content p {
    color: #fff;
}

/* How We Compare CSS Start */


/* Home Page newsletter CSS Start */
.pages-newsletter-section {
    background-image: url("../images/pages-newsletter-bg.jpg");
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(1px);
}

.pages-newsletter-wrapper {
    text-align: center;
    padding: 30px 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.pages-newsletter-wrapper h3 {
    padding: 0 10px;
}

.pages-newsletter-input-wrapper {
    padding-top: 20px;
    margin: 0 auto;
}

input.pages-newsletter-input {
    width: 40%;
    display: inline-block;
    font-size: 16px;
    padding: 13px 25px;
    outline: none;
    border: 1px solid #fff;
    line-height: 20px;
    border-radius: 5px 0 0 5px;
    font-weight: 600;
}

.pages-newsletter-submit-button {
    display: inline-block;
    background: #00b3c1;
    background:    #cf2d5e;
    padding: 13px 25px;
    font-size: 16px;
    color: #fff;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    line-height: 20px;
    border-radius: 0 5px 5px 0;
}

.pages-newsletter-submit-button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    box-shadow: #fff 0px 4px 8px;
}

.pages-newsletter-wrapper h3 {
    font-size: 25px;
    max-width: 1000px;
    margin: 0 auto 20px auto;
    line-height: normal;
    font-weight: 700;
    color: #fff;
}

/* Home Page newsletter CSS End */


/* Pages FAQ Section CSS Start  */
.accordion-button::after {
    flex-shrink: 0;
    content: "\f067";
    font-family: "FontAwesome";
    background-image: none;
    background-repeat: no-repeat;
    min-width: 30px;
    text-align: center;
    vertical-align: middle;
}

.accordion-button:not(.collapsed)::after {
    content: "\f068";
    font-family: "FontAwesome";
    background-image: none;
    transform: rotate(0);
    background: transparent;
}

.accordion {
    --bs-accordion-btn-icon-transform: rotate(0);
}

.accordion-button:not(.collapsed) {
    background: #658cf6;
    background: #280B70;
    box-shadow: none;
    color: #fff;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion-button {
    color: #fff;
    font-weight: 500;
    background: #658cf6;
    background: #280B70;
    transition: 0.3s all ease;
}
.accordion-button:hover {
    box-shadow:#00b3c1 0px 3px 6px;
    box-shadow:#cf2d5e 0px 3px 6px;
   
}

.accordion {
    --bs-accordion-border-color: none;
}

.accordion-item {
    margin-bottom: 12px;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item:last-of-type {
    border-radius: 0;
}

.accordion-item:first-of-type {
    border-radius: 0;
}

.accordion-body {
    background-color: #fff;
    font-weight: 500;
    color: #545556;
    box-shadow: #658cf6 0px 2px 10px;
}

/* Pages FAQ Section CSS End  */

/* Disclaimer Section CSS Start */
.disclaimer{
  background-color: #cfc1f1;
}
.disclaimer-wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 25px;
    border-radius: 10px;
    overflow: hidden;
}

.disclaimer-wrapper h3 {
    font-size: 30px;
    color: #00b3c1;
    color: #cf2d5e;
}

.disclaimer-wrapper p {
    margin: 15px 0;
    font-weight: 500;
}

.disclaimer-wrapper h4 {
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    border-radius: 10px;
    font-weight: 600;
    box-shadow:#00b3c1 0px 3px 6px;
    box-shadow:#cf2d5e 0px 3px 6px;
    margin: 15px 0;
    color: #00b3c1;
    color: #cf2d5e;
}

/* Disclaimer Section CSS End */

/* Footer CSS Start */
.footer {
    background-image: url(../images/footer-bg.jpg);
    background-color: rgba(0 0 0/5%);
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 30px;
    overflow: hidden;
    width: 100%;
    max-width: 1000x;
}

.logo-bottom img {
    width: 100%;
}

.lg-btm {
    width: 100%;
}

.lg-btm a {
    width: 100%;
}

.lg-btm a img {
    width: 100%;
    object-fit: cover;
    max-width: 340px;
}

.logo-bottom {
    width: 20%;
}

.footer-items {
    width: 30%;
}

.footer-items h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
    color: #cf2d5e;
}

.footer-links h3 {
    text-align: left;
}

.footer-items .social-icons {
    width: 100%;
    margin: 15px auto;
}


.footer-items ul li a {
    padding: 3px 0;
}

.footer .footer-items ul li a {
    transition: 0.6s all ease;
    font-size: 17px;
    position: relative;
    color: #280B70;
    font-weight: 600;
}


.footer .footer-items ul li a:after {
    display: block;
    content: '';
    border-bottom: solid 1px #280B70;
    transition: all 300ms ease-in-out;
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
}

.footer .footer-items ul li a:hover {
    transform: translateX(3px);
}

.footer-icons {
    min-width: 20px;
    margin-right: 6px;
}


.footer-items ul li a:hover:after {
    width: 100%;
}



.copyright {
    padding: 15px 0;
    text-align: center;
    margin: auto 0;
    border-top: 1px solid #cf2d5e;
}

.copyright p {
    color: #280B70;
    text-align: center;
    font-weight: 500;
}

/* Footer CSS End */


/* Social Icons CSS Start */
.social-icons {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

}

.social-icons i {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 17px;
    background-color: #6e95f9;
    background-color: #380fa0;
    color: #fff;
    line-height: normal;
    margin: 0 5px;
    transition: 0.3s all ease-in-out;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}

.social-icons i:hover {
    transform: translateY(-2px);
    color: #fff;
}

.social-icons i.facebook:hover {
    background-color: #116af9;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.twitter:hover {
    background-color: #1da1f2;
    box-shadow: #fff 0px 4px 8px;
}

.social-icons i.instagram:hover {
    background-color: #da1090;
    box-shadow: #fff 0px 2px 4px;
}

/* Social Icons CSS End */


/* Pages CSS Start */

/* Pages Banner CSS Start */
.pages-banner-image {
    height: 520px;
}

.banner-text h1 {
    font-size: 55px;
}

.banner-text h3 {
    font-size: 25px;
}

/* Pages Banner CSS End */

/* Pages Cards CSS Start */
.pages-cards-section {
    background-color: rgba(0 0 0/60%);
    isolation: isolate;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.pages-cards {
    background-color: #d7e0f9;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    transition: 0.3s all ease-in-out;
    margin-bottom: 35px;
    }
.pages-cards:hover{
    box-shadow: #cf2d5e 0px 10px 15px;
    transform: translateY(-5px);
}

.pages-cards-wrapper h2 {
    color: #fff;
}
.cards-image-text {
    position: relative;
    height: 100%;
    width: 100%;
}
.cards-image {
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.cards-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cards-img-text {
    position: absolute;
    bottom: 5%;
    background: #fff;
    left: 10px;
    padding: 10px;
    border-radius: 10px;
     color: #cf2d5e;
    right: 10px;
    text-align: center;
}
.cards-img-text h3{
    font-size: 24px;
    font-weight: 600    ;
}
.cards-text ul li{
list-style-type: disc;
margin-left: 16px;
font-weight: 500;
padding-right:10px;
}
.cards-pro-text {
    border-right: 3px solid #00b3c1;
    border-right: 3px solid #cf2d5e;
}
.cards-text h3{
    margin-bottom: 10px;
    color: #658cf6;
    color: #cf2d5e;
}
.butn {
    display: inline-block;
    background: #00b3c1;
    background: #cf2d5e;
    padding: 13px 25px;
    font-size: 16px;
    color: #fff;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.4s all ease-in-out;
    line-height: 20px;
    border-radius:5px
}
.butn.play-now-btn{
margin-top: 15px;
}

.butn.play-now-btn:hover{
    box-shadow: #00b3c1 0px 7px 15px 0px;
    background-color: #fff;
    color: #00b3c1;
    box-shadow: #cf2d5e 0px 7px 15px 0px;
    background-color: #fff;
    color: #cf2d5e;

}

#soccer {
    background-image: url("../images/soccer-cards-bg.jpg");
}

.pages-blog-cards {
    padding: 10px;
    background-color:#658cf6;
    background-color: #cf2d5e;
    overflow: hidden;
    position: relative;
    height: 400px;
    transition: 0.5s all ease-in-out;
}
.pages-blog-cards:hover .blog-cards-btn{
    bottom: 10%;
}
.pages-blog-cards:hover{
    transform: translateY(-3px);
}

.blog-cards-image {
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.blog-cards-image img{
    width: 100%;
    height: 100%;
 object-fit: cover;
}
.blog-cards-btn {
    position: absolute;
    bottom: -100px;
    left: 50px;
    transition: 0.5s all ease-in-out;
}
.blog-btn:hover{
    box-shadow: #fff 0px 7px 15px 0px;
    background-color: #fff;
    color: #cf2d5e;
}
.blog-cards-title {
    height: 100%;
     width: 100%; 
    background-color: rgba(0 0 0/40%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    padding: 0 30px;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-cards-title h5{
    color:#fff ;
}
.blog-banner-image{
    height: 400px;
}
.blog-banner-text h3 {
    font-size: 35px;
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}
.blog-pages-content-section{
    background-image: url("../images/blog-pages-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0 0 0/40%);
    background-blend-mode: multiply;
}

span.heading-like{
    color: #cf2d5e;
    font-weight: 700;
    font-size: 20px;
}
.blog-pages-group {
    margin-bottom: 15px;
}
.blog-pages-group p{
font-weight: 500;
color:#fff;
}

/* Pages Cards CSS End */
/* Pages CSS End */


/* Other Pages CSS Start */
.privacy-policy-content-section span.heading-like ,.terms-conditions-content-section span.heading-like{
    color: #cf2d5e;
    font-weight: 700;
    font-size: 17px;
}
.privacy-policy-content-section ,.terms-conditions-content-section{
    background-image: url("../images/other-pages-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0 0 0/80%);
    background-blend-mode: multiply;
    background-attachment: fixed;
    }


.privacy-policy-group {
    margin-bottom: 30px;
    padding: 20px;
  }
  .privacy-policy-group:last-child {
    margin-bottom: 0px;
  }
  
  .privacy-policy-group h3 ,  .terms-conditions-group h3 {
    font-size: 27px;
    margin-bottom: 10px;
    color: #cf2d5e;
  }
  
  .privacy-policy-group h4 ,  .terms-conditions-group h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .privacy-policy-group p ,  .terms-conditions-group p {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
  }
  
  .privacy-policy-group ul li ,  .terms-conditions-group ul li {
    margin-bottom: 10px;
    list-style-type: disc;
    margin-left: 17px;
    color: #ffff;
  }
  .privacy-policy-group h3 a ,  .terms-conditions-group h3 a
  {
    color: #cf2d5e;
    transition: 0.3s all ease-in-out;
  }
  .privacy-policy-group h3 a:hover ,  .terms-conditions-group h3 a:hover
  {
    color: red;
    transform: translateX(2px);
  }
  
  .privacy-policy-group p a  , .terms-conditions-group p a {
    color: #cf2d5e;
    font-weight: 600;
    font-size: 17px;
    transition: 0.3s all ease-in-out;
  }
  .privacy-policy-group p a:hover ,  .terms-conditions-group p a:hover
  {
    color: red;
    transform: translateX(2px);
  }
  
  .privacy-policy-group ul ,   .terms-conditions-group h3 ul {
    margin: 10px auto;
  }
  
  /* Other CSS End */
  

  
